@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    background-color: #ffffff;
    color: #444444;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-index {
    flex-grow: 1;
}

body a {
    text-decoration: none;
    color: #000000;
}


/*header*/

.main-header {
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    z-index: 100;
}

.catalog-link,
.navigation-list {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.catalog-list {
    font-size: 16px;
    line-height: 18px;
    background-color: #ffe17f;
    color: #000000;
}

.main-header {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    position: relative;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-header-content {
    background-color: #ffe17f;
    padding: 39px 39px 38px 40px;
    position: relative;
}

.logo-link {
    position: absolute;
    top: 0;
    left: 60px;
    transform: translateY(-50%);
}

.header-container {
    display: flex;
    margin-bottom: 19px;
}

.site-search-bar {
    display: block;
    width: 516px;
    position: relative;
}

.search-input {
    font-size: 16px;
    line-height: 19px;
    font-family: "Rubik", sans-serif;
    width: 100%;
    background-color: transparent;
    border: 2px solid transparent;
    padding: 10px 10px 10px 56px;
}

.search-input:focus-visible {
    border: 2px solid #AF4FFF;
    border-radius: 20px;
}

.search-input:focus {
    border: 2px solid #000;
    border-radius: 20px;
}

.search-input:focus+.search-button {
    display: block;
}

.search-input::placeholder {
    color: #000000;
    opacity: 0.3;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
}

.search-input:hover::placeholder {
    opacity: 0.6;
}

.search-icon {
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.search-button {
    background-color: transparent;
    border: 2px solid #000;
    border-radius: 0 20px 20px 0;
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    line-height: 19px;
    width: 160px;
    text-align: center;
    padding: 10px 0 10px 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
    display: none;
}

.search-button:focus-visible,
.subscription-button:focus {
    border-color: #AF4FFF;
    outline: none;
}

.search-button:hover,
.subscription-button:hover {
    background-color: #000;
    color: #fff;
}

.search-button:active,
.subscription-button:active {
    border-color: #000;
    background-color: #000;
    color: rgba(255, 255, 255, 0.3);
}

.search-input:focus {
    outline: none;
}

.user-actions {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 545px;
    list-style-type: none;
}

.user-action-icon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}

.basket::after {
    position:absolute;
    content: "2";
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top:20px;
    left: 6px;
    transform: translateY(-50%);
    padding-left:5px;
}
.user-action:first-child {
    margin-right: auto;
}

.user-action:nth-child(2) {
    margin-right: 15px;
}

.user-action a {
    border: 2px solid transparent;
    display: block;
    position: relative;
}

a .user-action-icon {
    margin-left: 21px;
}

.user-action:first-child a {
    padding: 10px 20px 10px 46px;
}

.user-action:nth-child(2) a {
    padding: 10px 20px 10px 41px;
}

.user-action:nth-child(3) a {
    padding: 10px 20px 10px 44px;
}

.user-action a:hover {
    opacity: 0.6;
}

.user-action a:active {
    opacity: 0.3;
}

.user-action a:focus {
    border: 2px solid #AF4FFF;
    border-radius: 20px;
    outline: none;
}

.user-action-iсon {
    display: inline-block;
    margin-right: 10px;
}

.user-action:first-child .user-action-iсon {
    margin-right: 12px;
}

.catalog-navigation {
    display: flex;
    align-items: center;
}

.catalog {
    display: flex;
    width: 516px;
}

.hidden-catalog-list {
    display: flex;
}

.catalog-list {
    list-style-type: none;
    padding: 33px 0px 27px 60px;
}

.catalog-link {
    display: flex;
    padding: 0 20px 0 20px;
    border: 2px solid transparent;
    align-items: center;
}

.catalog-block {
    position: relative;
    display: flex;
    border: 2px solid #000000;
    height: 47px;
    width: 47px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    opacity: 0.2;
    margin-left: 20px;
}

.opening-catalog,
.closing-catalog {
    position: absolute;
}

.catalog-link:hover .opening-catalog {
    display: none;
}

.catalog-link:hover .catalog-block {
    opacity: 1.0;
}

.catalog-link:active .opening-catalog {
    display: none;
}

.catalog-link:active .catalog-block,
.catalog-link:active {
    opacity: 0.3;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 545px;
}

.navigation-item-link {
    display: block;
    padding: 12px 20px 10px 20px;
    border: 2px solid transparent;
}

.navigation-item {
    position: relative;
}

.navigation-item-link::after {
    position: absolute;
    content: '';
    border-bottom: 2px solid #000000;
    bottom: 8px;
    left: 20px;
    right: 20px;
    display: none;
}

.navigation-item:hover,
.navigation-item-link:hover::after {
    display: block;
}

.navigation-item:active,
.navigation-item-link:active::after {
    display: block;
    opacity: 0.3;
}

.navigation-item-link:focus,
.catalog-link:focus {
    border: 2px solid #AF4FFF;
    border-radius: 40px;
    outline: none;
}

.navigation-item:first-child {
    margin-right: 15px;
}

.navigation-item:last-child {
    margin-left: auto;
}


/*main*/

.title {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 50px;
    line-height: 50px;
}

.button-all {
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
}

.value {
    font-size: 36px;
}

.parameter {
    font-size: 16px;
}

.open-catalog-item a {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 24px;
}

.order {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
}

.delivery-item {
    font-weight: 700;
    line-height: 20px;
}

.contacts-info,
.catalog-filter-titile {
    font-weight: 700;
    font-size: 24px;
}

.subscription-button {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

/*Slider*/
.slider {
    margin-top: -189px;
}

.slider-wrapper {
    position: relative;
    padding-top: 300px;
}

.slider-wrapper::before{
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 300px;
    content: "";
    background-color: #FFE17F;
}

.slider-number{
    position: absolute;
    top: -45px;
    right: 49px;
    font-family: "Rubik", sans-serif;
    color:#fff;
    font-size: 180px;
    font-weight: 800;
}

.slider h2,
.slider p {
    margin: 0;
    padding: 0;
}

.slider h2 {
    position: relative;
    margin-bottom: 19px;
    color: #000000;
    z-index: 50;
}

.slider p {
    display: block;
    margin-bottom: 30px;
}

.slider-content {
    width: 560px;
}

.button {
    display: block;
    width: 220px;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
    outline: none;
}

.slider-content .button{
    padding: 14px 0px 16px 0px;
}

.slider-content .button::after{
    content: "";
    position: absolute;
    background-color:#FFE17F;
    width: 220px;
    height: 8px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.slider-content .button:focus-visible::after{
    background-color:#AF4FFF;
}

.slider-content .button:hover {
    background-color:#FFE17F;
}

.slider-content .button:active {
    background-color:#FFE17F;
    opacity:0.3;
}

.characteristics td {
    padding-right: 20px;
    min-width: 140px;
}

.characteristics {
    margin-bottom: 109px;
}

.slider-item {
    position: relative;
    display: flex;
    margin-top: -30px;
    z-index: 100;
}

.slider-pagination {
    display: flex;
    position: absolute;
    padding: 0;
    margin: 0;
    list-style-type: none;
    top: 486px;
    right: 0;
}

.slider-pagination-button {
    width: 12px;
    height: 12px;
    margin:0;
    padding:0;
    border-radius: 50%;
    border: 2px solid #000000;
    margin-right: 22px;
    top:0;
    right: 0px;
    cursor: pointer;
}

.slider-pagination-button-current {
  background-color: #000000;
}

.slider-pagination-item:last-child {
    margin-right: 0px;
}

.slider-button {
    position:absolute;
    padding: 0;
    background-color: transparent;
    border: 2px solid transparent;
    border-radius: 5px;
    width: 40px;
    height: 80px;
}

.slider-image {
    margin-top: -120px;
    margin-right: 41px;
}

.slider-button:focus {
    border: 2px solid #AF4FFF;
    border-radius:5px;
}

.slider-button:hover {
    opacity:0.6;
}

.slider-button:active {
    opacity:0.3;
}

.slider-prev {
    top: 376px;
    left: 0;
}

.slider-next {
    top: 376px;
    left: 540px;
}

.slider-prev-img, 
.slider-next-img {
    position: absolute;
    top: 8px;
    left:8px;
}

.open-catalog {
    margin-bottom: 69px;
}

.open-catalog-list {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.open-catalog-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #FFE17F;
    margin-bottom: 33px;
    height: 160px;
}

.open-catalog-item {
    width: 160px;
    margin-right: 40px;
    border: 5px solid transparent;
}
.open-catalog-item:last-child {
    margin-right: 0;
}

.open-catalog-item b {
    display: block;
}

.open-catalog-item:hover .open-catalog-image{
    background: #FFC700;
    outline: none;
}
.open-catalog-item:focus .open-catalog-image{
        border:5px solid #AF4FFF;
        outline: none;
}

.open-catalog-item:focus b{
    color:#AF4FFF;
    outline: none;
}
.open-catalog-item:active .open-catalog-image{
    background: #FFC700;
    opacity: 0.3;
    outline: none;
}

.open-catalog-item:active b{
opacity: 0.3;
outline: none;
}

/*purchase terms*/
.condition {
    position: relative;
}
.condition::before {
    position:absolute;
    content:"";
    background: #F0F0F0;
    height: 288px;
    width: 100%;
    top:100px;
    z-index: -2;
}

.condition-content {
    display: flex;
    padding-bottom: 69px;
    position: relative;
}

.condition-list {
    width: 280px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 120px;
    margin-top: 80px;
}

.condition-button-all {
    position: relative;
    display: block;
    margin-bottom: 45px;
    text-align: center;
    width: 160px;
    padding: 9px 16px 11px;
}

.condition-button-all::before{
    position: absolute;
    content:"";
    background-color:#FFE17F;
    width: 160px;
    height: 8px;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.condition-button-all:focus::before{
    background-color:#AF4FFF;
}

.condition-button-all:hover{
    background-color:#FFC700;
}

.condition-button-all:active{
    background-color:#000000;
    color:#FFE17F; 
    width:100%;
    text-align:start;       
}

.condition-button-all.current-condition {
    display: block;
    background-color:#000000;
    color:#FFE17F;
    width: 100%;
    text-align: left;
}

.condition-list::after{
    position:absolute;
    content: "";
    background:#000000;
    height:319px;
    width: 7px;
    top:0px;
    left:280px;
}

.description-list {
    padding: 0;
    margin: 0;
    margin-top: 70px;
}

.desciption-item-block {
    width: 560px;
}

.desciption-item-block h2 {
    margin: 0;
    margin-bottom: 14px;
}

.desciption-item-block p {
    width: 497px;
    margin: 0;
}

.description-item {
    display: flex;
}

.order {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin-top: 90px;
    margin-bottom: 97px;
    align-items: center;
    border: none;
}

.order-image-car {
    width: 125px;
    background-color: #FFE17F;
    padding: 35px 34px 34px 39px;
}

.delivery-complex-order {
    display: block;
    padding-top: 37px;
    padding-bottom: 43px;
    width: 910px;
    font-family: Raleway;
    font-weight: 800;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
}

.order-info-block {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(220, 220, 220, 0.5);
    border-radius: 50px;
    width: 40px;
    height: 40px;
    margin-right: 33px;
}

.order:focus {
    outline: 5px solid #AF4FFF;
}

.order:hover .order-image-car {
    background-color: #FFC700;
}

.order:hover .order-info-block {
    background-color: #DCDCDC;
}

.order:hover {
    background-color: #EBEBEB;
}

.order:active {
    opacity: 0.3;
}

.additional-info .container {
    display: flex;
    padding-top: 42px;
    margin-bottom: 87px;
    position: relative;
}
.about-us::after,
.contacts::after {
    position:absolute;
content: "";
background-color: #000000;
width: 80px;
height: 7px;
top:0;
left:0;
}

.contacts::after {
    left: 600px;
}
.about-us h2,
.contacts h2 {
    margin: 0;
    margin-bottom: 26px;
}

.about-us p,
.contacts p {
    margin: 0;
    margin-bottom: 30px;
}

.delivery-list {
    margin: 0;
    padding: 0px;
    margin-bottom: 52px;
    list-style-type: none;
    padding-left: 35px;
}

.delivery-item {
    margin-bottom: 20px;
}

.about-us {
    margin-right: 103px;
}

.about-us,
.contacts {
    display: flex;
    flex-direction: column;
}

.info_button {
    width: 260px;
    text-align: center;
    padding: 14px 0px 16px 0px;
    position: relative;
}

.info_button::after{
    content: "";
    position:absolute;
    background-color:#FFE17F;
    width: 260px;
    height:8px;
    left:0;
    top: 50%;
    transform: translateY(-50%);
    z-index: -1;
}

.info_button:focus-visible::after{
    background-color:#AF4FFF;
}

.info_button:hover {
    background-color:#FFE17F;
}

.info_button:active {
    background-color:#FFE17F;
    opacity:0.3;
}

.decription-info {
    width: 497px;
    margin: 0;
    margin-bottom: 30px;
}

.contacts-info {
    margin: 0;
    margin-bottom: 15px;
}

.contacts-address-text,
.contact-phone {
    min-width: 513px;
    font-style: normal;
}

.contact-address {
    margin-bottom: 30px;
}

.contact-phone {
    text-decoration: underline;
}

.contact-schedule {
    margin-bottom: 67px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 67px;
}

.subscription {
    background-color: #F0F0F0;
}

.mailing {
    background-color: #F0F0F0;
    display: flex;
    flex-wrap: wrap;
}

.mailing .title {
    width: 560px;
    margin: 75px 40px 53px 0px;
}

.mailing-paragraph {
    width: 560px;
    margin: 86px 0px 50px 0px;
}

.subscription-form {
    display: flex;
    margin-bottom: 131px;
    width: 1160px;
}

.sub-form {
    margin-right: auto;
    display: flex;
}

.sub-input {
    display: block;
    border: transparent;
    width: 600px;
}

.mail-bar {
    font-size: 18px;
    line-height: 30px;
    font-family: "Rubik", sans-serif;
    color: #000000;
    background-color: transparent;
    border: 3px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    padding: 13px 40px 9px 0px;
    width: 100%;
    height: 100%;
    outline: none;
}

.mail-bar::placeholder {
    color: #444444;
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    opacity: 0.5;
}

.mail-bar:focus {
    background-color: #DCDCDC;
}

.mail-bar:hover {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

.mail-bar:active {
    border-bottom-color: rgba(0, 0, 0);
}

.mail-bar:invalid {
    border-bottom-color: #FF3D3D;
}

.subscription-button {
    width: 260px;
    padding: 17px 0px 17px 0px;
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-radius: 0px;
}

.free {
    align-self: center;
}


/*footer*/

.page-footer {
    font-size: 16px;
    background-color: #444444;
    color: #ffffff;
    position: relative;
}

.footer-logo-link {
    position:absolute;
    top:62px;
}
.contacts-info-text {
    line-height: 19px;
}

.page-footer a {
    color: #ffffff;
}

.footer-condition-list {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
    color: #ffffff;
}

.footer-contacts {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 133px;
    padding-bottom: 39px;
}

.footer-content {
    display: flex;
    flex-direction: column;
}

.contacts-info-text {
    margin: 0;
    width: 238px;
    margin-right: 114px;
}

.footer-condition-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center
}

.footer-condition-item {
    position: relative;
}

.footer-condition-link {
    display: block;
    padding: 14px 20px 15px 20px;
    border: 2px solid transparent;
}

.footer-condition-link:focus {
    border: 2px solid #AF4FFF;
    border-radius: 25px;
    outline: none;
}

.footer-condition-link::after {
    position: absolute;
    content: "";
    border-bottom: 2px solid #FFC700;
    left: 20px;
    right: 20px;
    bottom: 8px;
    display: none;
}

.footer-condition-link:hover,
.footer-condition-link:hover::after {
    color: #FFC700;
    display: block;
}

.footer-condition-link:active,
.footer-condition-link:active::after {
    color: #FFC700;
    display: block;
    opacity: 0.3;
}

.footer-condition-text {
    display: block;
}

.footer-condition-text:last-child {
    margin-right: 0;
}

.contact-ph {
    align-self: center;
    margin-left: auto;
    text-align: right;
    padding: 3px 15px 5px 15px;
    border: 2px solid transparent;
    border-radius: 25px;
    outline: none;
}

.contact-ph:hover{
color: #FFC700;
}
.contact-ph:focus{
    color: white;
    border: 2px solid #AF4FFF;
    border-radius: 25px;
}

.contact-ph:active{
    color: #FFC700;
    opacity:0.3;
}
.social-networks {
    display: flex;
    margin-bottom: 61px;
    position: relative;
}

.social-networks-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 1160px;
    list-style-type: none;
    justify-content: center;
    padding-top:8px;
}
.social-networks-list::before{
    position:absolute;
    content: "";
    background: #FFC700;
    height: 7px;
    width:80px;
    top:50%;
    left:0;
}
.social-networks-icon {
    display: block;
    margin-right: 15px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: 5px solid #444444;
    box-sizing: content-box;
    position: relative;
    outline: none;
}

.networks-icon{
    position:absolute;
    fill: #444;
}
.social-networks-item:last-child {
    margin-right: 0;
}

.social-networks-icon:hover {
    background-color: #FFC700;
}

.social-networks-icon:focus-visible {
    border: 5px solid #AF4FFF;
    box-sizing: content-box;
}

.social-networks-icon:focus .networks-icon{
    fill:#F0F0F0;
}

.social-networks-icon:active {
    opacity: 0.3;
}
.social-networks-icon:active .networks-icon{
    fill:#444;
}
form .button {
    width: 200px;
    margin-top: 52px;
    border: transparent;
}

.htmlacademy-link {
    position: absolute;
    right:0;
    top:0;
    align-self: center;
    border: 2px solid transparent;
    padding: 10px 10px 0px 10px;
    outline: none;
}

.htmlacademy-link:focus-visible {
    border: 2px solid #AF4FFF;
    border-radius: 20px;
}

.html-logo {
    outline: none;
    height: 34px;
    width:115px;
    fill: #FFC700;
}

.htmlacademy-link:hover .html-logo {
    fill:#F0F0F0;
}

.htmlacademy-link:active .html-logo {
    fill:#F0F0F0;
    opacity:0.3;
}
/*catalog*/

.user-name {
    margin-right: 26px;
}

.breadcrumbs,
.control-label {
    font-size: 16px;
    line-height: 19px;
}

.catalog-filters-title,
.sorting-products,
.load-else,
.button-pagination-back,
.button-pagination-forward {
    font-family: "Raleway", sans-serif;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
}

.catalog-filter-label {
    font-size: 15px;
    line-height: 18px;
}

.catalog-filters-title {
    margin: 0;
}

.product-card-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
}

.product-card-price {
    line-height: 21px;
}

.inner-header {
    padding-left: 60px;
    box-sizing: border-box;
}

.inner-header h1 {
    margin: 0;
    margin-top: 37px;
    margin-bottom: 14px;
}

.breadcrumbs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    margin-bottom: 49px;
}

.breadcrumbs-item {
    margin-right: 36px;
}

.catalog-content {
    background-color: #EBEBEB;
}

.catalog-content .container {
    display: flex;
}

.catalog-filters {
    width: 328px;
    background-color: #EBEBEB;
}

.catalog-filter-filter {
    background-color: #DCDCDC;
    height: 70px;
    width: 328px;
}

.catalog-filters-title {
    padding: 25px 32px 25px 60px;
}

.catalog-filter-group {
    width: 200px;
    padding: 0;
    margin-left: 60px;
    border: transparent;
    border-top: 2px solid #000000;
}

.catalog-filter-titile {
    display: block;
    height: 34px;
    margin-top: 12px;
}

.catalog-filter-slider {
    display: flex;
    width: 200px;
}

.catalog-filter-label {
    display: flex;
    margin-bottom: 36px;
}

.catalog-filter-input {
    background-color: transparent;
    width: 75px;
    border: none;
}

.catalog-filter-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
    margin-bottom: 24px;
}

.control-label {
    margin-bottom: 21px;
}

form .button {
    margin-left: 60px;
}

.sorting {
    display: flex;
    padding-left: 72px;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #EBEBEB;
}

.sortig-type {
    display: flex;
}

.sorting-products {
    margin-right: 36px;
}

.direct-sort-order {
    margin-left: auto;
}

.product-container {
    width: 832px;
    padding-top: 69px;
    margin-bottom: 44px;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style-type: none;
    padding-left: 72px;
}

.product-card {
    width: 360px;
}

.product-title-price {
    display: flex;
}

.product-card-title {
    width: 280px;
    margin-right: auto;
    margin-top: 0;
}

.product-show-more {
    display: block;
    width: 160px;
    padding: 0;
    margin: 0;
    text-align: center;
}

.loading {
    display: block;
    width: 760px;
    margin-left: 72px;
    height: 55px;
    background-color: #FFFFFF;
    border: 3px solid #000000;
    margin-bottom: 51px;
}

.pagination {
    display: flex;
    width: 760px;
    height: 70px;
    margin-left: 72px;
    background-color: #EBEBEB;
    justify-content: space-between;
    margin-bottom: 77px;
}

.pagination-list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    align-items: center;
}

.button-pagination-back {
    margin-left: 30px;
}

.button-pagination-forward {
    margin-right: 30px;
}

.pagination-item {
    margin-right: 30px;
}